<div class="content-modal" upload-images>
    <div class="modal-header">
        <a href="javascript:;" class="close" ng-click="closeUploadImages()">×</a>
        <h3 class="modal-title">Upload hình ảnh</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="Type">Loại hình ảnh:</label>
                    <div class="controls">
                        <div class="span12">
                            <tree list="listTreeTypePicture" title="Nhóm loại hình ảnh" name="TypeID" select-one="true" collapsed="collapsed"></tree>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div action="/Upload/UploadFile.ashx" class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveImages()">Lưu ảnh</button>
        <a href="javascript:;" class="btn btn-warning" ng-click="closeUploadImages()">Thoát</a>
    </div>
</div>