<div class="sp-footer">
    <div class="sp-ftertop">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2 class="sp-ftertit">Momy Baby Center</h2>
                    <ul class="sp-fteradd">
                        <li>Địa chỉ: Số 20, Ngõ 55 Đỗ Quang, Trung Hòa, Cầu Giấy, Hà Nội</li>
                        <li>Email: mommybabycenter@gmail.com</li>
                        <li>Điện thoại: (04) 62 93 88 33</li>
                        <li>Giờ mở cửa: <strong>8:30AM - 8:30PM</strong></li>
                    </ul>
                    <div class="sp-ftercall">
                        <a href="tel: 0462938833" title="0462 938833">
                            <i class="sp-hline sp-hlinewhite"></i> Hotline: 0462 938833
                        </a>
                    </div>
                    <ul class="sp-ftersocial">
                        <li>Kết nối với chúng tôi:</li>
                        <li>
                            <a class="sp-fter-fb hvr-bob" href="https://www.facebook.com/mommyandbabyspa"></a>
                            <a class="sp-fter-gg hvr-bob" href="" title=""></a>
                            <a class="sp-fter-yt hvr-bob" href="" title=""></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h2 class="sp-ftertit">Bản đồ</h2>
                    <div class="sp-ftermap">
                        <iframe width="100%"
                                height="215"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBUO0vk-QV7FDT1HprKj8LwMw3tvO4vt_Q
    &q=20+Ngõ+55+Đỗ+Quang+Trung+Hòa+Cầu+Giấy+Hà+Nội&zoom=18" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sp-fterbot">
        <div class="container">
            <p>Copyright © 2016. All rights reserved</p>
        </div>
    </div>
</div>
<div class="sp-totop"></div>

@section scripts{
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
}